.menu-container {
  padding: 0 20px; }

.menu-elements {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #e6e6e6; }

.menu-element {
  display: inline-block;
  width: 24%;
  text-align: center;
  margin-bottom: -2px;
  transition: all .2s ease-in;
  border-bottom: 3px solid transparent;
  z-index: 1;
  position: relative; }
  .menu-element:hover {
    border-bottom: 3px solid #ff934c; }
  .menu-element h2 {
    font-size: 2em;
    color: #333; }

.underline {
  display: block;
  position: relative;
  border-bottom: 3px solid #2294cc;
  margin-top: -12px;
  transition: all .3s ease-in;
  z-index: 5; }
  .underline.quarter {
    width: 24%; }
    .underline.quarter.p-none {
      border-bottom-color: transparent !important; }
    .underline.quarter.p-1 {
      margin-left: 0; }
    .underline.quarter.p-2 {
      margin-left: 24%; }
    .underline.quarter.p-3 {
      margin-left: 48%; }
    .underline.quarter.p-4 {
      margin-left: 72%; }
