@import '../../../assets/styles/src/variables.scss';

.menu-container {
  padding: 0 20px;
}
.menu-elements {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid $grey-color;
}
.menu-element {
  display: inline-block;
  width: 24%;
  text-align: center;
  margin-bottom: -2px;
  transition: all .2s ease-in;
  border-bottom: 3px solid transparent;
  z-index: 10;
  position: relative;
  &:hover {
    border-bottom: 3px solid #ff934c;
  }
  h2 {
    font-size: 2em;
    color: $dark-color;
  }
}
.underline {
  display: block;
  position: relative;
  border-bottom: 3px solid $main-color;
  margin-top: -12px;
  transition: all .3s ease-in;
  z-index: 20;
  // Width
  &.quarter {
    width: 24%;
    &.p-none {
      border-bottom-color: transparent !important;
    }
    &.p-1 {
      margin-left: 0;
    }
    &.p-2 {
      margin-left: 24%;
    }
    &.p-3 {
      margin-left: 48%;
    }
    &.p-4 {
      margin-left: 72%;
    }
  }
}