<div class="modal-container">
    <div class="modal" ng-if="$ctrl.getState() === 'opened'">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>{{$ctrl.title}}</span>
                </h2>
                <span flex="" class="flex"></span>
                <button class="md-icon-button md-button" ng-click="$ctrl.closeModal()" type="button">
                    <i class="fa fa-2x fa-times"></i>
                </button>
            </div>
        </md-toolbar>
        <main ng-transclude></main>
    </div>
</div>
<div class="tint" ng-if="$ctrl.getState() === 'opened'"></div>