<form>
    <input-component type="'text'" name="'firstName'" title="'First Name'"></input-component>
    <input-component type="'text'" name="'lastName'" title="'Last Name'"></input-component>
    <input-component type="'email'" name="'email'" title="'Email'"></input-component>
    <input-component type="'password'" name="'password'" title="'Password'"></input-component>
    <input-component type="'password'" name="'passwordConfirmation'" title="'Password Confirmation'"></input-component>
</form>