<form>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <input-component type="email" model="$ctrl.user.email" name="email" title="Email"></input-component>
            <input-component type="text" model="$ctrl.user.firstName" name="firstName" title="First Name"></input-component>
            <input-component type="text" model="$ctrl.user.lastName" name="lastName" title="Last Name"></input-component>
            <input-component type="password" model="$ctrl.user.password" name="password" title="Password"></input-component>
            <input-component type="password" model="$ctrl.user.passwordConfirmation" name="passwordConfirmation" title="Password Confirmation"></input-component>

            <button class="md-raised md-primary md-button md-ink-ripple" ng-click="$ctrl.register()" type="submit" ng-transclude="" aria-label="Primary">
                <span class="ng-scope">Register</span>
                <div class="md-ripple-container"></div>
            </button>
            <button class="md-raised md-primary md-button md-ink-ripple" ng-click="$ctrl.closeModal()" type="button" ng-transclude="" aria-label="Primary">
                <span class="ng-scope">Close</span>
                <div class="md-ripple-container"></div>
            </button>
        </div>
    </div>
</form>