body {
  padding: 0;
  margin: 0;
  background-color: #e6e6e6 !important;
}
.view-container {
  margin-top: 50px;
  background-color: $bright-color;
  padding: 30px;
}
.container {
  width: 80%;
}
.navbar-brand {
  color: $bright-color !important;
  &:hover {
    color: $grey-color !important;
  }
  &:focus {
    color: $grey-color !important;
  }
}
.navbar-default .navbar-nav {
  li {
    a {
      color: $bright-color;
      &:hover {
        color: $grey-color;
      }
      &:focus {
        color: $grey-color;
      }
    }
  }
}

.navbar-fixed-top {
  z-index: 30;
}
.md-sidenav-right {
  z-index: 20;
}
.md-sidenav-backdrop {
  z-index: 10 !important;
}

.md-primary {
  background-color: $main-color !important;
  color: $bright-color !important;
}

.toast {
  top: 60px;
}