<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Kraken
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <!--<div class="navbar-text navbar-right">-->
                <!--&lt;!&ndash; TODO: Change this to be dynamic &ndash;&gt;-->
                <!--Welcome, Bogdan!-->
            <!--</div>-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" ng-click="$ctrl.openSidebar('login')">Log In</a>
                </li>
                <li>
                    <a href="" ng-click="$ctrl.openSidebar('register')">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div layout="row">
    <md-sidenav md-component-id="login" class="md-sidenav-right">
        <login></login>
    </md-sidenav>
    <md-sidenav md-component-id="register" class="md-sidenav-right">
        <register></register>
    </md-sidenav>
</div>